{% extends 'adminTemplate.html.twig' %}



{% block title %}Hello DecorationWebsiteController!{% endblock %}

{% block body %} 
<div class="row">
    <div class="col-md-auto">
    
    <h1> Les Catégories </h1>

        <section class="categories">

            {% if categories is defined %}
            {% for category in categories %}
            <p>
                {# id : la variable vient de la route @Route("/{id}/edit", name="categoryForm", methods={"POST"}) #}
                <a href= {{ path('adminSubCategories', {id : category.id}) }}>{{ category.name }} </a>
                <a href= {{ path('categoryForm', {id : category.id}) }}> Editer catégorie</a>
                
                {# <a href= {{ path('deleteCategory', {id : category.id}) }}> Supprimer catégorie</a> #}
            </p>
            {% endfor %}
            {% endif %}
        </section>
    </div>
</div>

{% endblock %}
