{% extends 'adminTemplate.html.twig' %}

{% block title %}Hello CategoryFormController!{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-auto">
{% if category.name != '' %}
<h3>Edition de la catégorie</h3>
{% else %}
<h3>Ajout de la catégorie</h3>
{% endif %}
        {{ form_start(form) }}
        {{ form_row(form.Name) }}
        <button type="submit">save</button>
        {{ form_end(form) }}
</div>
</div>
{% endblock %}
