{% extends 'adminTemplate.html.twig' %}


{% block title %}Hello Admin !{% endblock %}

{% block body %}
<style>
</style>

<div class="col-8">
<h1>Page d'administration</h1>
<p>A partir des menus présents sur la barre de navigation de cette page, vous pouvez accéder aux pages d'affichage/modification/suppression des catégories existantes, de création de nouvelles catégories, ainsi que de produits</p> 
</div>
</div>
{% endblock %}
