<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion à l'administration</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5bba7a276f.js" crossorigin="anonymous"></script>
    <style>
        body {
            display: flex;
            justify-content: center;
            height: 100vh;
        }

        .card {
            margin-top: 10%;
        }

    </style>

</head>
<body>
<div class="col-md-4">
    <div class="card bg-light">
        <div class="card-header">
            <h4 class="card-title">
                <i class="fas fa-lock"></i>
                Connexion à l'administration
            </h4>
        </div>
        <div class="card-body">
            {% if hasError %}
                <div class="alert alert-warning">
                    <p>les informations que vous avez fournies ne sont pas bonnes</p>             
                </div>
            {% endif %}
            <form method="post">
                <div class="form-group"><label for="_username">Email</label><input type="text" class="form-control" 
                placeholder="Adresse email..." name="_username" value="{{ username }}"></div>
                <div class="form-group"><label for="_password">Mot de passe</label><input type="password" class="form-control" 
                placeholder="Mot de passe..." name="_password"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-lock-open"></i>
                    Connexion administrateur ! 
                    </button>
                    <a href="{{ path('home') }}" class="btn btn-link">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Retour côté visiteur
                    </a>
                </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>
    
</body>
</html>