{% extends 'adminTemplate.html.twig' %}

{% block title %}Hello DecorationWebsiteController!{% endblock %}

{% block body %}

<div class="col-md-8">
    
    <h1> Les Produits </h1>

    <section class="products">

        {% if products is defined %}
        {% for product in products %}
        <p>
            {# id : la variable vient de la route @Route("/admin/productForm/{id}/{type}", name="productForm") #}
            {{ product.title }}
            <a href= {{ path('productForm', {id : product.id, type : 'product'}) }}> <i class="fas fa-edit"></i> Editer le produit </a>
            <a href= {{ path('deleteProduct', {id : product.id}) }}> <i class="fa fa-window-close" aria-hidden="true"></i> Supprimer le produit </a>
            {# <a href= {{ path('deleteProduct', {id : product.id}) }}> Delete </a> #}
        </p>
        {% endfor %}
        {% endif %}
    </section>
</div>

{% endblock %} 
