{% extends 'base.html.twig' %}

{% block title %}Hello DecorationWebsiteController!{% endblock %}

{% block body %}
<h1> Les Produits </h1>

    <section class="products">

        {% if products is defined %}
        {% for product in products %}
        <p>
            <p> {{ product.title}}  </p>
            <p> {{ product.category_id }}
        </p>
        {% endfor %}
        {% endif %}
    </section>

{% endblock %} 
