{% extends 'baseblog.html.twig' %}

{% block title %}New Article
{% endblock %}

{% block body %}

	{% include 'decoration_website/article/blognavbar.html.twig' %}

	<div class="wrap">

		<h1>Create new Article</h1>

		{{ include('decoration_website/article/_form.html.twig') }}

		<a href="{{ path('article_index') }}">Revenir à la liste des articles du blog</a>

	</div>
{% endblock %}
