{% extends 'base.html.twig' %}

{% block title %}Hello DecorationWebsiteController!{% endblock %}

{% block body %}
<h1> Les Sous Catégories </h1>

    <section class="products">

        {% if categories is defined %}
        {% for category in categories %}
        <p>
            <a href= {{ path('decoration_website_products', {id_category : category.parent.id, id_sub_category : category.id }) }}> Lien vers les produits de : {{ category.name }} </a>
        </p>
        {% endfor %}
        {% endif %}
    </section>

{% endblock %} 
